* {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-grey);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 36px;
  color: var(--purple);
  padding-bottom: 5%;
}
.text,
#dois-pontos {
  font-size: 72px;
  color: var(--black);
}
#countdown {
  display: flex;
}
.time-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  width: 100%;
}

.container-left {
  width: 50%;
  text-align: center;
}

.numero-pontuacao {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#rocket {
  width: 45%;
  height: auto;
}

#subscribe {
  padding-top: 8%;
  padding-bottom: 6%;
  color: var(--text-color);
  font-size: 14px;
}

#botao {
  width: 160px;
  padding: 12px;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-size: 16px;
  background-color: var(--purple);
}

#botao:hover {
  background-color: #3a2eff;
  cursor: pointer;
}

.name-text {
  font-size: 14px;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }
  #rocket {
    padding-top: 4%;
    width: 85%;
  }
  .container-left {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .text,
  #dois-pontos {
    font-size: 50px;
  }
  .name-text {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .text,
  #dois-pontos {
    font-size: 35px;
  }
  h1 {
    font-size: 25px;
  }
  #botao {
    font-size: 12px;
  }
  #subscribe {
    font-size: 10px;
  }
  .name-text {
    font-size: 7px;
  }
}

@media (max-width: 414px) {
  .text,
  #dois-pontos {
    font-size: 25px;
  }
  h1 {
    font-size: 20px;
  }
  #botao {
    font-size: 8px;
  }
  #subscribe {
    font-size: 8px;
  }
  .name-text {
    font-size: 5px;
  }
}
