:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-grey);
}

p{
    color: var(--black);
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.container-left{
    margin-left: 5%;
    position: absolute;
}

.container-right{
    margin-left: 55%;
}

h1{
    font-size: 7vh;
    position: absolute;
    padding: 10px;
    color: #6C63FF;
}
.countdown-container{
    display: flex;
    font-size: 12vh;
    padding: 13px;
}

.subscribe{
    margin-left: 15%;
    padding: 15px;
}

button{
    background-color: var(--purple); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border-color: #6C63FF;
    margin-left: 16.5%;
    position: fixed;
}